---
const { title , content } = Astro.props;

---

<article class="flex flex-col w-full pb-[4cqw] pt-[5cqw] border-b-[1px] border-b-[#b8b8bb9c] 
md:text-[1.2cqw] md:mx-28 md:w-auto md:pt-[1.1cqw] md:pb-1">
    <div class="flex justify-between z-3  ">
        <h3 class="text-[#252b46]">{title}</h3>
        <button id = 'expandButton' class="justify-self-end cursor-pointer  object-contain w-[3cqw] md:w-[1cqw]">
            <img class="w-full" id="buttonIcon" src="/public/assets/icon-arrow.svg" alt="">
        </button>
    </div>
    <div id = 'pContainer' class="grid grid-rows-[0fr]   duration-500 transition-[grid-template-rows]">
        <p id="pArticle" class=" overflow-hidden pt-[3cqw] md:pt-[.2cqw] ">{content}</p>
    </div>
</article>

