---
---
<footer class="bg-[#252b46] flex flex-col items-center py-[10cqw] justify-center
        md:flex-row md:py-[2cqw]">
    <img class='mb-[9cqw] w-[40cqw] md:w-[10cqw] md:mb-0 md:ml-8' src="/Bookmark-LP/assets/logo-bookmark-white.svg" alt="">
    <div class="flex flex-col gap-[10cqw] text-center mb-[12cqw] text-gray-300 *:cursor-pointer
    md:flex-row md:text-[.9cqw] md:gap-[4cqw] leading-0 md:ml-[5cqw] md:mb-0">
        <a>FEATURES</a>
        <a>PRICING</a>
        <a>CONTACT</a>
    </div>
    <div class="flex gap-[8cqw] *:w-[5.5cqw] *:cursor-pointer md:*:w-[1.4cqw] md:mr-8 md:gap-[3cqw] md:ml-auto">
        <img src="/Bookmark-LP/assets/icon-facebook.svg" alt="">
        <img src="/Bookmark-LP/assets/icon-twitter.svg" alt="">
    </div>
</footer>