---
---

<header class="flex py-10 px-7 justify-between items-center md:py-3">
    <img id = 'logo' class="w-[34cqw] md:w-[10cqw]"src="/Bookmark-LP/assets/logo-bookmark.svg" alt="branch logo">
    <img id = 'hamburguerIcon' class= "h-[1rem] cursor-pointer md:hidden" src="/Bookmark-LP/assets/icon-hamburger.svg" alt="">
    <div id = 'navMobile' class="hidden! min-h-[100vh]  absolute  grid-cols-[1fr_1fr] grid-rows-[30cqw_auto_50cqw] bg-[#252b46]/90 z-10 top-0  left-0  right-0 ">
        <div class="col-[1/3] px-6 pt-10 pb-[auto] flex  justify-between">
            <img class='h-[5.7cqw]'src="/Bookmark-LP/public/assets/logo-bookmark-white.svg" alt="">
            <img id='closeIcon' class='cursor-pointer h-[5cqw] pt-1 'src="/Bookmark-LP/public/assets/icon-close.svg" alt="">
        </div>
        <ul class="col-[1/3] flex-wrap px-6 flex flex-col items-center *:py-4 *:text-[4.5cqw] *:text-[#e2e4ee]
         *:border-t-[#9194a1d0] *:cursor-pointer *:border-t-[.1cqw] *:w-full *:text-center *:tracking-[.4cqw]">
            <li><a class="w-full block border-[.5cqw]  rounded-md py-2 border-transparent hover:border-[#e1e2e7ef] hover:font-[500] hover:border-[.5cqw]">FEATURES</a></li>
            <li><a class="w-full block border-[.5cqw]  rounded-md py-2 border-transparent hover:border-[#e1e2e7ef] hover:font-[500] hover:border-[.5cqw]">PRICING</a></li>
            <li><a class="w-full block border-[.5cqw]  rounded-md py-2 border-transparent hover:border-[#e1e2e7ef] hover:font-[500] hover:border-[.5cqw]">CONTACT</a></li>
            <li><a class="w-full block border-[.5cqw]  rounded-md py-2 border-transparent hover:border-[#e1e2e7ef] hover:font-[500] hover:border-[.5cqw]">LOGIN</a></li>
        </ul>
        <div class="flex col-[1/3]  gap-11 pb-[15cqw] pt-[20cqw] *:cursor-pointer  *:h-[5cqw] justify-center items-end">
            <img src="/Bookmark-LP/public/assets/icon-facebook.svg" alt="">
            <img src="/Bookmark-LP/public/assets/icon-twitter.svg" alt="">
        </div>
    </div>
    <div id="navDesktop" class='hidden md:block'>
        <ul class="hidden md:flex text-[1cqw] *:cursor-pointer font-[500] gap-3 items-center text-[#252b469a]">
            <li>FEATURES</li>
            <li>PRICINGS</li>
            <li>CONTANCT</li>
            <button class="px-2.5 pb-[.3cqw] pt-[.4cqw] cursor-pointer rounded-[.3cqw] bg-[#ed4f39] text-white">LOGIN</button>
        </ul>
    </div>
</header>


<script>
    const hamburguer = document.querySelector('#hamburguerIcon');
    const navMobile = document.querySelector('#navMobile');

    hamburguer.addEventListener('click', () => {
        navMobile.classList.remove('hidden!');
        navMobile.classList.add('grid');
    });

    const closeIcon = document.querySelector('#closeIcon');
    closeIcon.addEventListener('click', () => {
        navMobile.classList.add('hidden!');
        navMobile.classList.remove('grid');
    });
</script>